@charset "UTF-8";

#Howto{
	display:inline-block;
	width:220px;
	text-align:left;
	margin-top:220px;
	margin-left:30px;
	position:fixed;
	top:20px;
}
#Howto .howtobtn ul li a{
	text-decoration:none;
	width: 100%;
}
#Howto .howtobtn>ul>li{
	font-size:17px;
	margin-top:10px;
	border-top:2px solid #ddd;
	padding:10px;
	color:#ddd;
	line-height:1.4em;
}

#Howto .howtobtn .howto-subbtn{
	display:none;
}
#Howto .howtobtn .howto-subbtn ul li{
	font-size:16px;
}
#Howto .howtobtn .howto-subbtn ul li a:hover{
	color:#000;
	font-size:17px;
}