@charset "UTF-8";
/* Bid.jsㅁㄱㅈㄷㅊㅅㅁㅈ3p, Consign.jsp */
#auction{
	margin:10px auto;
	width:700px;
}
#auction #btnZone input{
	border-radius:10px;
	border:1px solid #000;
	
}
#auction #items #title{
	background-color:#eea;
	
}
#auction #items .number, .name, .author, .artName, .requestDate, .requestPrice{
	width:100px;
	display:inline-block;
	line-height:1.5em;
}


/*FAQ.jsp*/
/*Result.jsp*/
#auction #items #item{
	border:1px solid #000;
	width:300px;
	display:inline-block;
}
#auction #items .weekly_value, .weekly_title{
	width:200px;
	display:inline-block;
	line-height:1.5em;
}
#auction #items .startDate_title, .startDate_value, .endDate_title, .endDate_value{
	width:100px;
	display:inline-block;
	line-height:1.5em;
}

/*SuccessfulBid.jsp*/
#auction #items .number, .name, .author, .artName, .requestDate, .requestPrice{
	width:100px;
	display:inline-block;
	line-height:1.5em;
}
