@charset "UTF-8";
form[name="frm_bay_insert"] *,form[name="frm_bay_insert"] ::after,form[name="frm_bay_insert"] ::before{
    box-sizing: border-box;
}
html, body{
	overflow-x: hidden;
}
body, div, ul, li, h1, h2, h4, h5, input, p, select, table, th, td, tr, textarea, button {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff ;
    overflow-y: scroll;
}
label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
form[name="frm_bay_insert"] ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
div[class="container"] td{
	vertical-align: middle;
}
form[name="frm_bay_insert"] body, form[name="frm_bay_insert"] input, form[name="frm_bay_insert"] textarea,
form[name="frm_bay_insert"] select, form[name="frm_bay_insert"] button, form[name="frm_bay_insert"] table,
div[class="container"] table{
    color: #000000;
    font-size: 14px;
    line-height: 1.6em;
} 
a {
    color: #000000;
    text-decoration: none;
}
div[class="container"] ul, div[class="container"] li, div[class="container"] ol {
    list-style: none;
    line-height: 1.6em;
}
.applyform{
    position: relative;
    height: 120px;
    background-color: #f9f9f9;
    margin-bottom: 40px;
}

.applyform > h1{
    margin-top: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    white-space: nowrap;
}

.container {
	width:1210px;
	margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#consign-request-guide {
    margin-bottom: 30px;
}


.consignguide-container {
    width: 835px;
    margin: 0 auto;
}

@media (max-width: 950px){
	.consignguide-container {
	    width: 100%;
	}
}
.consignguide-content {
    padding: 20px 30px;
    background-color: #f9f9f9;
}
.consignguide-content > h4 {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #666666;
}
.consignguide-content > h4 > img {
    max-width: 100%;
    margin-right: 5px;
}



.consignguide-content > ul > li {
    display: flex;
    align-items: flex-start;
    padding-left: 3px;
}

.consignguide-content > ul > li > .ellipse {
    width: 4px;
    display: flex;
    align-items: center;
    height: 17px;
    margin-right: 8px;
}


.consignguide-content > ul > li > .ellipse > span {
    display: inline-block;
    line-height: initial;
    font-size: 10px;
    color: #666666;
}
.consignguide-content > ul > li > p {
    display: inline-block;
    font-size: 12px;
    line-height: 1.6em;
    color: #666666;
}

.windows body, .windows p {
    font-size: 12px;
    letter-spacing: normal;
}

.written-call-apply {
    width: 835px;
    margin: 0 auto;
}

.written-call-apply > div {
    margin-bottom: 80px;
}
.written-call-apply > div > h5 {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 12px;
}

.apply-table {
    width: 100%;
    border-collapse: collapse;
}
.apply-table tr:first-child {
    border-top: 1px solid #666666;
}
.talbeline tr:first-child {
    border-top: 0px solid;
}
.apply-table tr > td:first-child {
    width: 30%;
    padding: 10px 10px 10px 40px;
    background-color: #f9f9f9;
    color: #333333;
}
.apply-table tr > td {
    border-bottom: 1px solid #efefef;
}

.apply-table tr > td:last-child {
    width: 70%;
    padding: 10px 40px;
    color: #666666;
}


.essential > span {
    position: relative;
}
.essential > span:after {
    position: absolute;
    top: 2px;
    right: -12px;
    content: "*";
    font-size: 16px;
    color: #D83C31;
}


.material-ch {
    width: 180px;
    height: 32px;
    padding: 0.2em 0.2em;
    margin-right: 5px;
    color: #666666;
    font-family: inherit;
    background: url(/img/schedule-img.png) no-repeat 95% 50%;
    border: 1px solid rgb(185, 185, 185);
    appearance: none;
}
.ctgr{
    width: 200px;
}
.sizeinfo > div {
    position: relative;
    display: inline-block;
    font-size: 0;
    margin-bottom: 5px;
}
.apply-table tr > td > div > span {
    font-size: 12px;
}
.sizeinfo > span {
    display: inline-block;
    padding: 0 5px;
    color: #c4c4c4;
}
.sizeinfo > .size {
    width: 60px;
}
.conapply-text {
    padding: 5px;
}
.conapply-text {
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    resize: none;
    border: 1px solid rgb(185, 185, 185);
    appearance: none;
}

.tui-file-uploader-area {
    position: relative;
    width: 698px;
    min-height: 234px;
    border: 1px solid #ccc;
}
.tui-dropzone-support .tui-dropzone-contents {
    display: block;
    margin-top: 32px;
}
.tui-file-uploader .tui-dropzone-contents {
    display: none;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    margin: 0;
    text-align: center;
}
.thumbnail{
	width: 35%;
}
.viewimg{
	width: 35%;
}
element.style {
    min-height: 100px;
    width: 100%;
}
.uploader-box > form > div {
    background-color: #f9f9f9;
    border: 1px dashed #cccccc;
}
.tui-file-uploader .tui-dropzone-contents .tui-dropzone-msg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    margin: -7px 0 0 -50%;
    font-size: 12px;
    color: #999;
}
.tui-file-uploader .tui-btn-upload {
    position: relative;
}
.tui-file-uploader .tui-upload-lst {
    margin-bottom: 10px;
}
.tui-file-uploader .tui-btn-upload .tui-btn-txt {
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
}
.tui-file-uploader .tui-btn {
    overflow: hidden;
    font-size: 13px;
    vertical-align: top;
    background: #4b96e6;
    cursor: pointer;
}
.tui-file-uploader .tui-input-file {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.apply-btn {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apply-btn > a:first-child {
    margin-right: 20px;
    border: 1px solid #666666;
    background-color: #ffffff;
    color: #000000;
}
.apply-btn > a:last-child {
    background-color: #333333;
    color: #ffffff;
}
.apply-btn > a {
    display: block;
    width: 215px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration-line: none; 
}
/* 모달창 */

.modals{
	z-index : 2;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    display: none;
    /* display: none; */
    /* justify-content:center; //수평 중앙정렬
  align-items:center;     //수직 중앙정렬 */
}
.modals > div{
	max-width:500px;
	height: 100%;
	margin: 1.75rem auto;
	display: flex;
    align-items: center;
    justify-content: center;
}
.modals > div > div{
	position: relative;
	width:100%;              
	background-color:#fff;
	padding: 30px;
}
.modals > div > div > div{
	width:100%;
	display: flex;              
	align-items: center;
	flex-direction: column;
}
.modals > div > div > div > h2{
	font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.modals > div > div > div> img{
	max-width: 100%;
    margin-bottom: 5px;
}
.modals > div > div > div> span{
	display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    color: #666666;
    text-align: center;
}
.modals > div > div > .modal-close{
	position: absolute;
    top: 12px;
    right: 12px;
    max-width: 100%;
    cursor: pointer;
}
.modals.fade > div > div > div > a{
	margin-top: 20px;
    height: 40px;
    line-height: 40px;
	display: block;
    padding: 0 40px;
    color: #Fff;
    background-color: #000000;
    text-decoration-line: none; 
}	
.modals.fade > div > div > div > .modal-btn{
	margin-top: 20px;
    display: flex;
    align-items: center;
}
.modals.fade > div > div > div > .modal-btn > a:first-child{
	border: 1px solid #cccccc;
    color: #000000;
    margin-right: 8px;
}
.modals.fade > div > div > div > .modal-btn > a:last-child{
	background-color: #000;
    color: #fff;
}
.modals.fade > div > div > div > .modal-btn > a{
	width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration-line: none; 
}

/*  How To */
.howtoform > h1{
    margin-top: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    white-space: nowrap;
}
.howtoform{
    position: relative;
    height: 120px;
    background-color: #f9f9f9;
    margin-bottom: 40px;
}
#Howto {
    display: flex;
    align-items: flex-start;
    margin: 60px 0;
}
#Howto > .side {
	width:250px;
	height:200px;
	text-align:left;
	margin-top:220px;
	margin-left:60px;
}
#Howto > .howtobtn.fixed {
    width: 222px;
    position: fixed;
    top: 25px;
}
#Howto > .howtobtn {
    width: 20%;
    margin-right: 100px;
    background-color: #fff;
}
.howtobtn > ul > li.active { /* active 해야함 */
    border-top: 2px solid #0d0d0d;
}
.howtobtn > ul > li {
    padding-left: 0;
    padding: 10px 0;
    border-top: solid 2px #cccccc;
    line-height: 1.4em;
}

.howtobtn > ul > li > a {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #666666;
}
.howtobtn > ul > li > div {
    margin-top: 20px;
}

.howtobtn > ul > li > div > ul > li.active > a {  /* active js 해야함 */
    position: relative;
    font-weight: 600;
    color: #0d0d0d;
}

.howtobtn > ul > li > div > ul > li > a {
    position: relative;
    color: #666666;
}
/*howto intro  */
#Howto > .howto-desc {
	width: 80%;
}
.howto-desc.fixed {
    width: 888px !important;
    margin-left: 322px;
}
.auc-intro > div {
    margin-bottom: 100px;
}
.auc-intro > div > h2 {
    font-size: 20px;
    font-weight: 600;
    color: #0d0d0d;
    margin-bottom: 20px;
}
.auc-intro > div > p {
    font-size: 16px;
    line-height: 1.8em;
    color: #666666;
    margin-bottom: 30px;
}
.auc-intro > div:first-child > div {
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.auc-intro > div:first-child > div > .auc-img01 {
    width: 100%;
    height: 363px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.auc-intro > div:first-child > div > .auc-img01 > img {
    max-width: 100%;
}
.auc-intro > div:first-child > div > .auc-desc {
    padding: 30px 30px;
}
.auc-intro > div:first-child > div > div > h4 {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.auc-intro > div:first-child > div > div > h4 > img {
    max-width: 100%;
    margin-left: 10px;
}
.auc-intro > div:first-child > div > div > p {
    font-size: 14px;
    color: #0d0d0d;
}
.auc-intro > div:nth-child(2) > div {
    display: flex;
}
.auc-intro > div:nth-child(2) > div > div:first-child {
    margin-right: 3%;
}
.auc-intro > div:nth-child(2) > div > div {
    width: 48.5%;
    height: 847px;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
}
.auc-intro > div:nth-child(2) > div > div > .img {
    width: 100%;
    height: 382px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auc-intro > div:nth-child(2) > div > div > .img > img {
    width: auto;
    max-height: 382px;
}
.auc-intro > div:nth-child(2) > div > div > div:last-child {
    padding: 30px 30px;
}
.auc-intro > div:nth-child(2) > div > div > div:last-child > h4 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.auc-intro > div:nth-child(2) > div > div > div:last-child > h4 > img{
    margin-left: 10px;
}
.auc-intro > div:nth-child(2) > div > div > div:last-child > p.desc {
    padding-bottom: 10px;
}
.auc-intro > div:nth-child(2) > div > div > div:last-child > p {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
    border-bottom: 1px solid #cccccc;
}
.auc-intro > div:nth-child(2) > div > div > div:last-child > p.date {
    padding: 10px 0;
}
.auc-intro > div:nth-child(2) > div > div > div:last-child > p.check {
    margin-top: 10px;
    border-bottom: none;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #f44e05;
}
.auc-intro > div:nth-child(2) > div > div > div:last-child > p.check > a {
    display: block;
    color: #ffffff;
}
#sns {
    background-color: #f9f9f9;
    padding: 30px 30px;
}
#sns > .sns-tit {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#sns > .sns-tit > img {
    margin-right: 5px;
}
#sns > .sns-desc {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
}
#sns > ul {
    display: flex;
    justify-content: center;
    padding: 0 70px;
}
#sns > ul > li {
    width: 25%;
    padding-left: 0;
}
#sns > ul > li > img {
    margin-right: 5px;
}
#sns > ul > li > a {
    font-size: 14px;
    color: #0d0d0d;
}
/* cos-guide */

.cos-guide > div:first-child {
    border-bottom: 1px solid #0d0d0d;
}
.cos-guide > div {
    padding-bottom: 80px;
}
.cos-guide > div > h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cos-guide > div > p {
    font-size: 16px;
    color: #666666;
}
.cosguide-01 > p {
    margin-bottom: 20px;
}
.cosguide-01 > div {
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 60px;
}

.cosguide-01 > div > .img {
    width: 30%;
    margin-right: 5%;
}
.cosguide-01 > div > .img > img {
    max-width: 100%;
}
.cosguide-01 > div > .cont {
    width: 65%;
}
.cosguide-01 > div > .cont > h3 {
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 600;
    margin-bottom: 20px;
}
.cosguide-01 > div > .cont > p {
    font-size: 14px;
    color: #666666;
    line-height: 1.6em;
}
.cos-guide > div:last-child {
    padding-top: 80px;
}
.cosproce-btn {
    margin-bottom: 30px;
}
.cosproce-btn > ul {
    font-size: 0;
}
.cosproce-btn > ul > li.active {
    background-color: #f44e05;
}
.cosproce-btn > ul > li {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 0;
    width: 23.875%;
    height: 90px;
    text-align: center;
    margin-right: 1.5%;
    cursor: pointer;
    background-color: #e6e6e6;
    line-height: 24px;
    
}
.cosproce-btn > ul > li.active > strong {
    color: #fff;
}
.cosproce-btn > ul > li > strong {
    display: block;
    color: #f44e05;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.cosproce-btn > ul > li.active > p {
    color: #fff;
}
.cosproce-btn > ul > li > p {
    font-size: 16px;
    font-weight: 600;
}
.cosproce-btn > ul > li:last-child {
    margin-right: 0;
}
.cosproce-desc > div > p {
    font-size: 16px;
    margin-bottom: 30px;
}
.cosproce-desc > div > p > span {
    color: #f44e05;
}
.cosproce-desc > .desc01 > .desc01-sub {
    padding: 20px 25px;
    border: 1px solid #cccccc;
}
.cosproce-desc > .desc01 > .desc01-sub > div {
    margin-bottom: 20px;
}
.cosproce-desc > .desc01 > .desc01-sub > div > h6 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.cosproce-desc > .desc01 > .desc01-sub > div > p {
    font-size: 14px;
    line-height: 1.6em;
}
.cosproce-desc > .desc01 > .desc01-sub > div > p > span {
    color: #f44e05;
}
.cosproce-desc .desc01 .bot-desc {
    margin-top: 20px;
}
.cosproce-desc .desc01 .bot-desc > ul > li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}
.cosproce-desc .desc01 .bot-desc > ul > li > div {
    width: 10px;
    height: 24px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cosproce-desc .desc01 .bot-desc > ul > li > div > span {
    color: #666666;
}
.cosproce-desc .desc01 .bot-desc > ul > li > p {
    width: 95%;
    font-size: 16px;
    color: #666666;
}
.cosproce-desc > div > .cos-inquire-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}
.cosproce-desc > div > .cos-inquire-btn > a {
    display: block;
    padding: 8px 75px;
    background-color: #0d0d0d;
    color: #ffffff;
}


/* desc02 */
.cosproce-desc > .desc02 > .desc02-sub {
    padding: 30px 20px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.cosproce-desc > .desc02 > .desc02-sub > div {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    max-width: 230px;
}
.cosproce-desc > .desc02 > .desc02-sub > div > .desc02-icon {
    text-align: center;
}
.cosproce-desc > .desc02 > .desc02-sub > div > .desc02-icon > img {
    margin-bottom: 10px;
}
.cosproce-desc > .desc02 > .desc02-sub > div > .desc02-icon > p {
    font-size: 14px;
    font-weight: 500;
    word-break: keep-all;
}
.cosproce-desc > .desc02 > .desc02-sub > div > img {
    max-width: 100%;
    margin-top: 14px;
}
.cosproce-desc > .desc02 > ul {
    margin-top: 20px;
}
.cosproce-desc > .desc02 > ul > li {
    display: flex;
    padding-left: 0;
    align-items: flex-start;
    margin-bottom: 5px;
    
}
.cosproce-desc > .desc02 > ul > li > p {
    font-size: 14px;
}
/* desc03 */
.cosproce-desc > .desc03 > .desc03-sub {
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 50px;
}
.cosproce-desc > .desc03 > div > ul {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cosproce-desc > .desc03 > .desc03-sub > ul > li {
    width: 32%;
    margin-right: 2%;
    padding-left: 0;
    text-align: center;
}
.cosproce-desc > .desc03 > .desc03-sub > ul > li > h5 {
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 10px;
    font-weight: 500;
}
.cosproce-desc > .desc03 > .desc03-sub > ul > li > p {
    font-size: 12px;
    line-height: 1.8em;
    word-break: keep-all;
}
/*desc04 */
.cosproce-desc > .desc04 > div:first-child {
    margin-bottom: 20px;
}
.cosproce-desc > .desc04 > div > h4 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.cosproce-desc > .desc04 > div > p {
    font-size: 16px;
    margin-bottom: 30px;
}
.cosproce-desc > .desc04 > div > div {
    background-color: #f9f9f9;
    padding: 20px 30px;
}
.cosproce-desc > .desc04 > div:first-child > div > p {
    font-size: 16px;
    text-align: center;
}
.cosproce-desc > .desc04 > div > div > p > strong{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    background: transparent;
}
.cosproce-desc > .desc04 > div:nth-child(2) > ul > li {
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    line-height: 1.8em;
}
.cosproce-desc > .desc04 > div:nth-child(2) > ul > li > p {
    font-size: 14px;
}


/* bidIntro */
.bid-guide > div {
    margin-bottom: 90px;
}
.bid-guide > div > strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #f44e05;
}
.bid-guide > div > h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.bid-guide > div > p {
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 20px;
    color: #666666;
}
.step1-desc {
    font-size: 0;
}
.step1-desc > div {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    overflow: hidden;
    height: 498px;
    margin-right: 1%;
    border: 1px solid #cccccc;
}
.step1-desc > div > .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 186px;
    overflow: hidden;
}
.step1-desc > div > .img > img {
    max-height: 200px;
    max-width: 300px;
}
.step1-desc > div > div:last-child {
    padding: 30px 30px;
}
.step1-desc > div > div:last-child > h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.step1-desc > div > div:last-child > p {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
}
.preview-img {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.preview-img > div:first-child {
    margin-right: 3%;
}
.preview-img > div > img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.preview-img > div {
    width: 48.5%;
    height: 260px;
    overflow: hidden;
    position: relative;
}
.bid-guide > div:nth-child(3) > div > h4 {
    position: relative;
    font-size: 16px;
    padding-left: 28px;
    line-height: 1.6em;
    font-weight: 500;
    margin-bottom: 5px;
}
.bid-guide > div:nth-child(3) > div > h4::before {
    position: absolute;
    content: '01';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.bid-guide > div:nth-child(3) > div > p {
    font-size: 16px;
    line-height: 1.75em;
    color: #666666;
}
.liveauc-guide {
    font-size: 0;
    margin: 20px 0 30px 0;
}
.liveauc-guide > div {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    height: 512px;
    margin-right: 3%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}
.liveauc-guide > div > .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.liveauc-guide > div > .img > img {
    max-height: 100%;
}
.liveauc-guide > div > div:last-child {
    padding: 30px 30px;
}
.liveauc-guide > div > div:last-child > h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.liveauc-guide > div > div:last-child > p {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
}
.liveauc-guide > div:nth-child(2), .liveauc-guide > div:last-child {
    margin-right: 0;
}
.bid-guide > div:nth-child(3) > div:last-child > h4::before {
    content: '02';
}
.sub-box {
    background-color: #f9f9f9;
    padding: 30px 30px;
}
.sub-box.beware > p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sub-box.beware > p > img {
    margin-right: 5px;
}
.sub-box > ul > li {
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    margin-bottom: 5px;
}
.sub-box > ul > li > p {
    font-size: 14px;
    line-height: 1.6em;
}
.sub-box > ul > li > p > span {
    color: #f44e05;
}
.bid-01 {
    margin-bottom: 80px;
}
.bid-guide > div:nth-child(4) > div > h4 {
    position: relative;
    font-size: 16px;
    padding-left: 28px;
    font-weight: 500;
}
.bid-guide > div:nth-child(4) > div > h4::before {
    position: absolute;
    content: '01';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.bid-guide > div:nth-child(4) > div > p {
    font-size: 16px;
    line-height: 1.75em;
    margin-bottom: 20px;
    color: #666666;
}

.bid-guide > div:nth-child(4) > div > .sub-box > p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.bid-guide > div:nth-child(4) > div > .sub-box > ul > p {
    font-size: 14px;
    padding-left: 21px;
    color: #f44e05;
    margin-bottom: 5px;
}
.bidtableb2 {
    width: 100%;
    margin: 20px 0;
}
.bidtableb2 thead th:nth-child(1) {
    width: 25%;
}
.bidtableb2 thead th:nth-child(2) {
    width: 25%;
}
.bidtableb2 thead th:nth-child(3) {
    width: 50%;
    border-right: none;
}
.bidtableb2 thead th {
    background-color: #cccccc;
    color: #202020;
    text-align: center;
    font-weight: 400;
    padding: 8px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.bidtableb2 tbody tr td {
    color: #32314a;
    text-align: center;
    padding: 8px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.bidtableb2 tbody tr td:last-child {
    border-right: none;
}
.bid-guide > div:nth-child(4) > div > .sub-box > p.exam {
    font-weight: 400;
    margin-bottom: 0;
}
.bid-guide > div:nth-child(4) > div:last-child > h4::before {
    content: '02';
}
.bid-guide > div:last-child {
    margin-bottom: 0;
}
.bid-guide > div:nth-child(5) > div {
    margin-bottom: 60px;
}
.bid-guide > div:nth-child(5) > div > h4 {
    font-size: 16px;
    font-weight: 500;
    padding-left: 28px;
    position: relative;
}
.bid-guide > div:nth-child(5) > div > h4::before {
    position: absolute;
    content: '01';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.bid-guide > div:nth-child(5) > div > p {
    font-size: 16px;
    line-height: 1.75em;
    color: #666666;
    margin-bottom: 20px;
}
.dilivery-01 > .sub-box {
    margin-bottom: 30px;
}
.dilivery-01 > .sub-box > p.tit {
    font-weight: 500;
}
.dilivery-01 > .sub-box > p {
    font-size: 14px;
}
.bidtableb3 {
    width: 100%;
    margin: 10px 0;
}
.bidtableb3 th {
    background-color: #cccccc;
    font-weight: 400;
    text-align: center;
    padding: 8px 0;
}
.bidtableb3 th:last-child {
    background-color: rgb(189, 189, 189);
}
.bidtableb3 tr td {
    width: 25%;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: 6px 3px;
    color: #32314a;
}
.bidtableb3 tr td:nth-child(3) {
    background-color: #dfdede;
}
.bid-guide > div:nth-child(5) > div > ul > li {
    display: flex;
    align-items: flex-start;
    padding-left: 0;
}
.bid-guide > div:nth-child(5) > div > ul > li > div {
    width: 20px;
    height: 28px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bid-guide > div:nth-child(5) > div > ul > li > p {
    font-size: 16px;
    line-height: 1.75em;
    color: #666666;
}
.bid-guide > div:nth-child(5) > div:nth-of-type(2) > h4::before {
    content: '02';
}
.dilivery-02 > .sub-box > p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.dilivery-02 > .sub-box > p > img {
    margin-right: 5px;
}
.bid-guide > div:nth-child(5) > div:last-child > h4::before {
    content: '03';
}









